@charset "ISO-8859-1";

.click {
    float : left;
    overflow: hidden;
	background: #e8dbc1;
}

.fs-1{
	font-size: 30px;
	font-Style:italic;
    position :absolute;
    left :40%;
}

tr td {
	padding : 10px;
	
}

tr th {
	padding : 10px;
}

.border-info {
	border-color : black;
	
}

.bt{
	position : relative;
	left : 34%;
}

h5{
	text-align:center;
	font-variant: normal;
	font-weight: 500;
}
form{
	 margin : auto;
	 width : 30%;
	 height:30%;
}

form button{
position : relative;
left : 70px;
margin : 5px;
}

